<p>my-grid works!</p>
<div id="app-container">
    <dx-data-grid id="dataGrid"
        [dataSource]="employees"
        keyExpr="EmployeeID"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"    
        (onSelectionChanged)="selectEmployee($event)"
    >

        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-filter-row  [visible]="true"></dxo-filter-row>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxi-column dataField="FullName" [fixed]="true"></dxi-column>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxi-column dataField="Position"></dxi-column>
        <dxi-column dataField="PostalCode" [visible]="false"></dxi-column>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxi-column
            dataField="BirthDate"
            dataType="date">
        </dxi-column>
        <dxi-column
            dataField="HireDate"
            dataType="date">
        </dxi-column>
        <dxi-column dataField="City"></dxi-column>
        <dxi-column dataField="Country" ></dxi-column>
        <dxi-column dataField="Address"></dxi-column>
        <dxi-column dataField="HomePhone" ></dxi-column>
        <dxi-column dataField="PostalCode" ></dxi-column>
        <dxo-editing
            mode="popup"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>

        <dxo-summary>
            <dxi-group-item
                summaryType="count">
            </dxi-group-item>
        </dxo-summary>

        <!-- <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>-->
        <dxo-toolbar>
            <dxi-item name="groupPanel"></dxi-item>
            <dxi-item location="after">
                <dx-button
                    [text]="expanded ? 'Collapse All' : 'Expand All'"
                    [width]="136"
                    (onClick)="expanded = !expanded">
                </dx-button>
            </dxi-item>
            <dxi-item name="addRowButton" showText="always"></dxi-item>
            <dxi-item name="exportButton" showText="always"></dxi-item>
            <dxi-item name="columnChooserButton"></dxi-item>
            <dxi-item name="searchPanel"></dxi-item>
        </dxo-toolbar> 


    </dx-data-grid>

    <p id="selected-employee" *ngIf="selectedEmployee">
        Selected employee: {{ selectedEmployee.FullName }}
    </p>
</div>